*,
*:after,
*::before{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: sans-serif;
}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}
a,
a:hover{
    text-decoration: none;
}
ul,
ol{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ff553e;
    --secondary-color : #333;
    --white-color : #fff;
    --black-color:#000;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-weight: 400;
    font-family: 'Dosis' sans-serif;
}
.navbar-list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-list li{
    list-style: none;
}
.navbar-list a{
    padding: 0 20px 0 20px;
    color: aliceblue;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.navbar-list a:hover{
    color: var(--primary-color);
    transition: 0.4s ease;
}
h1{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}
h2{
    font-size: 1.5625rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--white-color);
    line-height: 2.5rem;
}
h4{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--white-color);
    margin-bottom: 0.9375rem;
    transition: all .3s linear;
}
h5{
     font-size: 0.875rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    color: var(--white-color);
    margin-bottom: 10px;
}
p{
     font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--white-color);
letter-spacing: 0.0625rem;
opacity: 0.8;
}
.main-btn{
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
}
.main-btn:after,
.main-btn::before{
    position: absolute;
    top: 50%;
    background-color: rgba(255,255,255,.3);
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}
.main-btn::after{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}
.main-btn:hover::before{
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background-color: var(--primary-color);
}
.main-btn:hover::after{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}
.main-btn:hover{
    color: var(--primary-color) !important;
}
.wrapper{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondary-color);
}
.text-content{
    width: 60%;
    margin: auto;
}
.top-header{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.top-header span{
    font-size: 1rem;
     font-family: sans-serif;
     letter-spacing: 2px;
}
.nav{
    background-color: var(--black-color);
    position: relative;
    width: 100%;
    left: 0;
    z-index: 1000;
}
#Home .carousel-caption{
    top: 15rem;
}
#Home .carousel-caption p{
    max-width: 35rem;
    margin: 2rem auto;
}
.nav.scroll-on{
    position: fixed;
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease-in 0s
}
#test{
    height: 500px;
    width: 100%;
    background-color: red;
}
.new-arrivals{
    background-color: var(--secondary-color);
}
.new-arrivals .banner-info{
    position: absolute;
    bottom: 30px;
    margin: auto;
    width: 100%;
    z-index: 9;
    padding: 0 15px;
    opacity: 0;
}
.new-arrivals .banner-info:hover{
    transition: all 0.7s ease-in-out;
    transform: translateY(-30px);
    opacity:1;
}
.new-arrivals .card-banner:nth-child(2) h2,
.new-arrivals .card-banner:nth-child(2) p,
.new-arrivals .card-banner:nth-child(2) a{
    color: var(--black-color);
}
.new-arrivals .card-banner:nth-child(2) a::before,
.new-arrivals .card-banner:nth-child(2) a::after{
    background-color: var(--black-color);
}
.new-arrivals .card-banner .card-thumb img,
.products .item-product img{
    position: relative;
    display: block;
    overflow: hidden;
}
.new-arrivals .card-banner .card-thumb img,
.item-product img{
    transition: all .5s ease-in-out 0s;
}
.new-arrivals .card-banner .card-thumb img:hover,
.item-product img:hover{
transform: scale(1.1);
opacity: 0.6;
border-radius: 30px;
}
.wrapper{
    background-color: var(--black-color)
}
.wrapper-1{
    background-color: var(--secondary-color);
}
.tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tabs a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
}
.tabs a:hover{
    border: 1px solid black;
    color: white;
    transition: 0.5s ease;
}
.tags a{
    color: wheat;
}
.tags .product-tittle a{
    color: rgba(121, 199, 241, 0.901);
    font-weight: bold;
}
.tags .mailing img:hover,
.tags .phone img:hover{
 transform: scale(1.2);
 transition: 0.5s ease;
}
.deal{
    border: 2px solid white;
    background-image: url(../imges/img/img-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    background-color: var(--black-color);
}
.footer .footer-social img{
    width: 20px;
    margin-left: 50px;
}
.footer .footer-social img:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in;
}
.footer-logo{
    color: white;
}